.uploadButton{
    margin-top:10px;
}

.AccountPage{
    text-align:center;
}

.profilePicture{
    margin-left: auto;
    margin-right: auto;
}

.profileTable{
    text-align:start;
    margin-left: auto;
    margin-right: auto;
}

