.nameBox{
    width: 45%;
    height: 60%;

    padding: 10px;

    font-family: Arial;

    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.19);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.19);
}

.coinInfoBox{
    margin-top: 20px;
    padding:10px;
}

.positivChange{
    color:rgb(69, 233, 69);
}

.negativChange{
    color:rgb(233, 69, 69);
}